[run]
source =
    bayeso
    tests

[report]
exclude_lines =
    pragma: no cover
    assert
    isinstance
    print
    return
    raise NotImplementedError
    raise ValueError
    if debug:
    with pytests.raises(AssertionError) as error:
    with pytests.raises(ValueError) as error:
