<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.url }}">
        <img src="{{ site.baseurl }}public/logo_bayeso_capitalized.svg" alt="BayesO Logo">
      </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.url }}">Home</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo-bayeso }}/archive/v{{ site.version-bayeso }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo-bayeso }}">BayesO: GitHub</a>
      <span class="sidebar-nav-item">v{{ site.version-bayeso }}</span>
      <a class="sidebar-nav-item" href="{{ site.github.repo-bench }}">BayesO Benchmarks: GitHub</a>
      <span class="sidebar-nav-item">v{{ site.version-bench }}</span>
      <a class="sidebar-nav-item" href="{{ site.github.repo-batch }}">Batch BayesO: GitHub</a>
      <span class="sidebar-nav-item">v{{ site.version-batch }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
