<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.url }}">
        <img src="{{ site.baseurl }}public/logo_bayeso_capitalized.svg" alt="BayesO Logo">
      </a>
      <p class="lead">{{ site.title }} &middot; {{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.url }}">Home</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo-bayeso }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo-bayeso }}">BayesO: GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo-bench }}">BayesO Benchmarks: GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo-batch }}">Batch BayesO: GitHub</a>
      <a class="sidebar-nav-item" href="https://bayeso.readthedocs.io/en/main/">Online Documentation</a>
      <span class="sidebar-nav-item">v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
